.app {
    margin: 0 auto;
    background-color: bisque;
}

.app .boxes {
    display: inline-block;
    margin: 10px;
    padding: 0;
    font-size: 100%;
    color: white;
    border: 2px solid black;
}

.boxes:nth-child(1) {
    background-color: red;
    width: 300px;
}

.boxes:nth-child(2) {
    background-color: blue;
    width: 300px;
}


/* Transparent red */

.pp p:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.5);
    position: relative;
    top: 30px;
    left: 50px;
}


/* Transparent blue */

.pp p:nth-child(2) {
    background-color: rgb(255, 0, 0);
    opacity: 0.5;
}

.top {
    width: 800px;
    margin: 0 auto;
    background: gray;
}

.first {
    background-color: red;
    width: 200px;
    height: 400px;
    padding: 3px;
    float: left;
    border: 5px solid yellow;
    box-sizing: border-box;
    background-clip: content-box;
}

.second {
    background-size: 140px;
    background-position: center;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color: gold;
    width: 400px;
    height: 400px;
    float: left;
}

.second p {
    text-align: center;
    display: block;
}

.second p:hover {
    outline: 10px solid white;
    background: yellow;
    color: black;
}

.third {
    background-color: pink;
    width: 150px;
    height: 400px;
    float: right;
}

#winning {
    background-color: red;
    border: 1px solid black;
}

.better {
    background-color: gray;
    border: none !important;
}

p {
    background-color: blue;
    color: white;
    padding: 5px;
}


/* specificity: 0002 */

p strong {
    background-color: khaki;
    color: green;
}


/* specificity: 0001 */

strong {
    text-decoration: underline;
    color: red;
}

.blockApp p {
    padding: 1em;
    border: 1px solid black;
}

.blockApp span {
    padding: 0.5em;
    border: 1px solid green;
    /* That makes the box visible, regardless of its type */
    background-color: yellow;
}

.blockApp .inline {
    display: inline;
}

.blockApp .block {
    display: block;
}

.blockApp .inline-block {
    display: inline-block;
}